.main_about_us {
    background: url("../../public/Untitled-final.jpg") !important;
    height: 201vh;
} 

.section {
    width: 100%;
    margin-left: 0 !important;
}

.about_us .section .container {
    width: 80%;
    display: block;
    /* margin: auto; */
    padding-top: 100px;
    margin-left: 0 !important;
}

.content-section {
    width: 55%;
}

.content-section .title {
    text-transform: uppercase;
    font-size: 28px;
}

.content-section .content h3,
.section .container .content h3 {
    color: #5d5d5d;
    font-size: 21px;
    margin: 20px 0 0 0 !important;
}

.image-section {
    float: right;
    margin-left: 20px !important;
    width: 100%;
}

.image-section img {
    width: 100%;
    left: 30%;
    height: auto;
}

.content-section .social {
    margin-top: 40px 40px;
}

.content-section .social a i {
    font-size: 30px;
    padding: 0 10px;
}

.wrapper {
    margin: 20px 40px;
}

.wrapper .heading {
    font-size: 30px;
    text-transform: uppercase;
    margin-left: 20px;
}

.wrapper .profiles {
    display: flex;
    flex-direction: column;
    margin-top: 20px;   
}

.wrapper .profiles .profile {
    display: flex;
    flex: 0.5;
    flex-direction: row;
    margin-bottom: 50px;
    /* justify-content: space-between;  */
}

.wrapper .profiles .profile .bio {
    text-align: start !important;
    justify-content: center;
    padding-left: 50px !important;
    /* margin-left: 2rem !important; */
}

.bio h3 {
    font-size: 30px;
    /* margin-top: 80px; */
}

.bio h5 {
    text-align: start;
    margin-left: 18px !important;
}

.bio p {
    margin-left: 18px !important;
    text-align: start;
}

/* .wrapper .profiles-1 {
    display: flex;
    justify-content: space-around;
    margin: 20px 80px;
} */

/* .wrapper .profiles-2 {
    display: flex;
    justify-content: space-around;
    margin: 20px 80px;
} */

.profile .profile-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
}

.user-name {
    /* margin-top: 30px; */
    font-size: 25px;
    text-align: start;
}

.profile h5 {
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 3px;
    color: #ccc;
    line-height: none !important;
    /* text-align: center; */
}

@media screen and (max-width: 1150px) {
    .profiles {
        flex-direction: column;
    }

    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .heading {
        font-size: 40px;
        color: white;
        text-align: center;
    }

    .profile .profile-img {
        height: 80px;
        width: 80px;
    }

    .bio .user-name {
        font-size: 20px;
    }

    .about_us .section .container {
        width: 100%;
        margin-left: 0 !important;
    }

    .main_about_us {
        width: 100%;
        height: auto;
    }

    .profiles-1,
    .profiles-2 {
        margin: 20px 0;
    }
}