.form1 {
    width: 450px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black !important;
    text-align: center;
    border: #2ecc71 solid 4px;
    border-radius: 20px;
}

.form1 h1 {
    /* width: 320px; */
    width: 100%;
    background: black !important;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
}

.form1 input[type="text"],
.form1 input[type="password"],
.form1 input[type="tel"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    width: 250px;
    padding: 14px 10px;   
    border: 2px solid #3498db;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.form1 input[type="text"]:focus,
.form1 input[type="password"]:focus,
.form1 input[type="tel"]:focus {
    width: 300px;
    border-color: #2ecc71;
}

.login_btn {
    background: black !important;
    width: 100%;
}

.login_btn .btn {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 45px;   
    border: 2px solid #2ecc71;
    outline: none;
    color: white;
    font-size: 14px;
    width: 150px;
    border-radius: 24px;
    transition: 0.25s;  
    cursor: pointer;
}

.login_btn .btn:hover {
    background: #2ecc71;
}

.login_btn span, .login_btn p {
    background: #000 !important;
}

.error {
    background: none;
}

.password-validation {
    color: #2ecc71;
    font-size: 13px;
    margin-top: 5px;
    background: none;
}

.password-validation span {
    background: none;
    color: #DA6161; 
}

.MuiAlert-message {
    background: none !important;
}

.MuiAlert-icon {
    background: none !important;
}