.admin_menu_sep {
  height: 100vh !important;
  background: url("../../public//Untitled-final.jpg") !important;
}

.sep_admin_menu nav .right {
  display: flex;align-items: center;justify-content: center;
  margin-right: 2rem;
}


.styled-table {
  border-collapse: collapse;
  border: 0.063rem solid #fff;
  /* border: 1px solid #fff; */
  margin: auto;
  font-size: 0.9em;
  font-family: sans-serif;
  max-width: 50rem;
  /* max-width: 800px; */
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0, 15);
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0, 15); */
}

.styled-table thead tr {
  background-color: #009879;
  color: white;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 0.75rem 0.938rem;
  /* padding: 12px 15px; */
}

.styled-table tbody tr {
  border-bottom: 0.063rem solid #dddddd;
  /* border-bottom: 1px solid #dddddd; */
}

.styled-table tbody tr:nth-of-type(even) {
  /* background-color: #f3f3f3; */
  background-color: #161616;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 0.313rem solid #009879;
  /* border-bottom: 2px solid #009879; */
}

.btn {
  border: none;
  color: white;
  padding: 0.313rem 0.5rem;
  /* padding: 5px 8px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 0.313rem;
  /* border-radius: 5px; */
  font-size: 1rem;
  /* font-size: 16px; */
  margin: 0.25rem 0.313rem;
  /* margin: 4px 2px; */
  cursor: pointer;
}

.btn-edit {
  background-color: #008cba;
}

.btn-delete {
  background-color: #f44336;
  width: 100%;
}

.btn-view {
  background-color: #e7e7e7;
  color: black;
}

.td-desc {
  text-align: center;
}

@media screen and (max-width: 768px) {

  nav .right .login-btn {
    margin-right: 1rem;
  }

  nav h3 {
    font-size: 1.5rem;
    /* font-size: 24px; */
    margin-top: 0.5rem;
  }

  .admin_menu_sep {
    background: url("../../public/Untitled-final.jpg") !important;
    width: 100vw !important;
  }

  .login-btn {
    height: 2.7rem !important;
    width: 9rem !important;
  }
}