/* .order{
  display:flex;
  flex-direction:row;
}
.admin-user{
  border-bottom:1px solid white;
  width:40%;
  display:flex;
  height:10vh;
  justify-content:space-between;
  padding-top:10px; 

}
.admin-user-name{
  width:30px;
}
.delete-btn{
  height:fit-content;
} */

/* .complete {
  width: fit-content;
} */
/* .order-title {
  color: black;
} */
/* .card {
  margin-top: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 50%;
} */
/* .card-body {
  /* padding-left: 100px; */
/*  */
/* .food-items {
  display: flex;
} */
/* .food-quantity {
  padding-left: 10px;
  padding-left: 20px;
} */
/* .food-price {
  padding-left: 10px;
} */
/* 
::-webkit-scrollbar {
  width: 8px;
} */

/* ::-webkit-scrollbar-thumb {
  /* background: linear-gradient(transparent, #30ff00);  */
/* background: #0072b1;
  border-radius: 6px; */

.upper-body {
  
  margin-top: 3rem;
  
  
}

.admin_main {
  background: url("../../public/Untitled-final.jpg") !important;
  height: 109vh !important;
}
.income {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* border-radius: 20px; */
  margin:5rem;
  border-radius: 1.25rem;
  text-align: center;
  padding: 1.25rem 1.25rem;
  /* padding: 20px 20px; */
  
  
}
.served-orders {
  box-shadow: rgba(0, 0, 0, 0.35) 0rem 0.313rem 0.938rem;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  border-radius: 1.25rem;
  /* border-radius: 20px; */
  margin:5rem;
  text-align: center;
  padding: 1.25rem 1.25rem;
  /* padding: 20px 20px; */
  
}
.divs-combine{
  display:flex;
  
}
.orders-title{
  color:springgreen;
  font-size:1.25rem;
  /* font-size:20px; */
  margin-top:-2rem;
}

.all-orders {
  overflow-y: visible;
}

@media screen and (max-width: 768px) {
  .all-orders {
    width: 75vw !important;
  }

  .logout-btn {
    padding: 5px !important;
  }
}