* {
  /* background: #161616; */
  /* overflow-y:hidden; */
}

.admin-nav {
  height: fit-content;
  background-color: #161616;
  width: 100%;
}

.whole-bill {
  display: flex;
  justify-content: center;
  margin-top: 1.25rem;
  /* margin-top: 20px; */
  background: #161616;
  height: 87vh;
}

.bill {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  /* justify-content:center; */
  /*   border: 0px solid white; */
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.35) 0rem 0.313rem 0.938rem;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  border-radius: 1.25rem;
  /* border-radius: 20px; */
  height: 75vh;
  /* width:50%; */
  /* margin-left: 20rem; */
  /* margin-top: 5rem;
    text-align: left; */
  width: fit-content;
  /* margin: 0px 20rem; */
}

.token-num {
  padding-top: 1.875rem;
  /* padding-top: 30px; */
  color: #0e76a8 !important;
}

.bill-title {
  margin-top: 1.875rem;
  /* margin-top: 30px; */
  text-align: left;
  /* padding-right:74rem; */
  padding-top: 1.875rem;
  /* padding-top: 30px; */
  letter-spacing: 0.125rem;
  /* letter-spacing: 2px; */
  background: -webkit-linear-gradient(#a03989, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

hr {
  /* margin-left: 43px;
  margin-top: 5px; */
  text-align: center;
}

.bill-food-items {
  display: flex;
  flex-direction: row;
  /* align-items:flex-start; */
  justify-content: space-between;
  /* margin: 20px; */
  /* padding-bottom: 20px; */
  padding-right: 1.25rem;
  /* padding-right: 20px; */
}

.food-items {
  padding-right: 1.25rem;
  /* padding-right: 20px; */
}

.container {
  padding: 2.813rem;
  /* padding: 45px; */
}

.pdf-btn {
  margin-bottom: 3.125rem;
  /* margin-bottom: 50px; */
}

.rating-div {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 0px solid white; */
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  margin-left: 20px;
  text-align: center;
  /* height: fit-content; */
  /* width:50%; */
  /* margin-left: 20rem; */
  /* margin-top: 5rem;
    text-align: left; */
  width: fit-content;
  height: 75vh;
}

.star-rating {
  font-size: 50px;
  height: fit-content;
}

/* input[type="radio"] {
  display: none;
}

.star {
  cursor: pointer;
  /* color: #a03989; */
/* transition: color 200ms !important; 
}  */

.MuiSvgIcon-root {
  background: none !important;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-top: 100px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.loading .MuiSvgIcon-root {
  animation: spin 1s linear infinite;
  height: 40px;
  width: 40px;
  color: #0072b1 !important;
}

.food-loader-loop {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-bottom: 15px;
  /* margin-top: 100px; */
}

.fade-loader {
  width: 10px;
  height: 10px;
}

.food-loader-loop .MuiSvgIcon-root {
  animation: spin 1s linear infinite;
  height: 40px;
  width: 40px;
  color: #0072b1 !important;
}

@media screen and (max-width: 768px) {
  .whole-bill {
    flex-direction: column !important;
  }

  .bill {
    width: 45rem;
    overflow-y: scroll !important;
  }

  .rating-div {
    width: 45rem;
    margin-left: 0px !important;
    margin-top: 1.25rem !important;
    height: 45rem !important;
    margin-bottom: 20px;
  }
  .rating-div .row .col-lg-12 .star-rating span {
    font-size: 6rem !important;
  }
  .whole-bill .bill .login-btn {
    margin-right: 1.3125rem !important;
  }
}