.main-cart {
  text-align: center;
  margin-left: 68rem;
  border: none;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: fit-content;
  padding: 2rem;

  position: fixed;
  /* 888 */
}

.cart_items {
  display: flex;
  margin: 2px;
  align-items: center;
  justify-content: space-between;
}
.name {
  width: 120px;
}

.price {
  margin: 0px;
  margin-right: 20px;
}
.cancel-btn {
  margin-bottom: 10px;
  cursor: pointer;
}

.checkout-btn{
  height: 45px;
  border: 0;
  border-radius: 7px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(158, 57, 138, 1) 0%,
    rgba(255, 0, 33, 1) 100%
  );
  width: 9rem;
  cursor: pointer;
}
