.main-cart-sep {
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-left: 68rem; */
    border: none;

    box-shadow: rgba(0, 0, 0, 0.35) 0rem 0.313rem 0.938rem;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    /* height: fit-content; */
    height: 30rem;
    padding: 2rem;
    margin-top: 5rem;
    margin-left: 30rem;
    /* position: fixed; */
    width: 22rem;
    overflow-y: scroll;
}

.cart-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 1rem;
    margin-bottom: 1rem;
}