.main-cart {
  text-align: center;
  margin-left: 68rem;
  border: none;

  box-shadow: rgba(0, 0, 0, 0.35) 0rem 0.313rem 0.938rem;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  /* height: fit-content; */
  height: 30rem;
  padding: 2rem;

  position: fixed;
  width: 22rem;

  overflow-y: scroll;

  /* 888 */
}

.cart_items {
  display: flex;
  margin: 0.125rem;
  /* margin: 2px; */
  align-items: center;
  justify-content: space-between;
}

.name {
  width: 7.5rem;
  /* width: 120px; */
}

.price {
  margin: 0rem;
  margin-right: 1.25rem;
  /* margin: 0px;
  margin-right: 20px; */
}

.cancel-btn {
  margin-bottom: 0.625rem;
  /* margin-bottom: 10px; */
  cursor: pointer;
}

.checkout-btn {
  height: 2.813rem;
  /* height: 45px; */
  border: 0;
  border-radius: 0.438rem;
  /* border-radius: 7px; */
  /* background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(158, 57, 138, 1) 0%,
    rgba(255, 0, 33, 1) 100%
  ); */
  /* background: linear-gradient(-45deg, red, green, blue, yellow);
  background-size: 400% 400%;
  animation: animate 15s ease infinite; */
  background: -webkit-linear-gradient(#a03989, orange);
  width: 9rem;
  cursor: pointer;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.25rem;
  margin-top: 6.25rem;
  /* margin-left: 20px;
  margin-top: 100px; */
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.loader .MuiSvgIcon-root {
  /* height: 40px;
  width: 40px; */
  height: 2.5rem;
  width: 2.5rem;
  animation: spin 1s linear infinite;
}