.main-cart {
  text-align: center;
  margin-left: 68rem;
  border: none;

  box-shadow: rgba(0, 0, 0, 0.35) 0rem 0.313rem 0.938rem;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  height: fit-content;
  padding: 2rem;

  position: fixed;
  /* 888 */
}

.cart_items {
  display: flex;
  margin: 0.125rem;
  /* margin: 2px; */
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.name {
  width: 7.5rem;
  /* width: 120px; */
}

.price {
  margin: 0rem;
  margin-right: 1.25rem;
  /* margin: 0px;
  margin-right: 20px; */
}
.cancel-btn {
  margin-bottom: 0.75rem;
  /* margin-bottom: 12px; */
  cursor: pointer;
}
