.main-cart-sep {
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-left: 68rem; */
    border: none;

    box-shadow: rgba(0, 0, 0, 0.35) 0rem 0.313rem 0.938rem;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    /* height: fit-content; */
    height: 30rem;
    padding: 2rem;
    margin-top: 5rem;
    margin-left: 30rem;
    /* position: fixed; */
    width: 22rem;
    overflow-y: scroll;
}
.cart-back-btn{
    background-color:transparent;
    border:0.5px white solid;
    border-radius:7px;
    padding:5px 20px;

}
.cart-back-btn:hover{
    background-color: white;
    color:black;
}
.logo-nav-cart{
    width:7rem;
}
.main-cart-sep .container {
    padding: 0 !important;
}
.main-cart-sep .container .sum {
    margin-bottom: 1rem !important;
}
.cart-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 3rem;
    margin-bottom: 1rem;

}

@media screen and (max-width: 768px) {
    .main-cart-sep {
        
        margin-left: 6rem !important;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 10rem !important;
        /* margin-left: 12rem !important; */
    }

    .main-cart-sep .container {
        align-items: center;
        padding: 0 !important;
        justify-content: center;
    }

}