.customer-data {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  width: 80%;
  margin-left: 7.5rem;
  /* margin-left: 120px; */
}
.order-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 15rem;

  z-index: 1;
}

.orders-admin {
  position: relative;
  display: inline-block;
}
/* 
.orders-admin:hover {
    transform: rotate(180deg);
} */

.orders-admin .arrow-icon .MuiSvgIcon-root:hover {
  transition: all 0.5s ease;
  transform: rotate(180deg) !important;
}
.orders-admin .arrow-icon .MuiSvgIcon-root:not(:hover) {
    transform: rotate(0deg) !important;
    transition: all 0.5s ease;
}

.orders-admin:hover .order-content {
  display: block;
  /* transition: all 0.3s ease; */
}
.admin-food-items {
  display: flex;
}
.users-orders th {
  padding: 0.625rem;
  width: 6.25rem;
  /* padding: 10px;
  width: 100px; */
  background-color: #f1f1f1;
  border: 0.063rem solid black;
  /* border: 1px solid black; */

  color: black;
}
.users-orders {
  width: 18.75rem;
  /* width: 300px; */

  box-shadow: 0px 0.5rem 1rem 0px rgba(0, 0, 0, 0.2);
  border-radius: 1.25rem;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px; */
}
.user-name-order {
  text-transform: capitalize;
}

.icon:hover {
  transform: rotate(180deg) !important;
}
