.food_menu_main {
  background: url("../../public/Untitled-final.jpg") !important;
  height: 98vh;
}

.food-menu {
  width: 100%;
  height: 100%;
  background: url("../../public/Untitled-final.jpg") !important;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1.875rem;
  /* padding-top: 30px; */
  height: 6.5rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #161616;
  width: 100%;
  z-index: 1;
}

.add-btn {
  height: 3.125rem;
  border: 0rem;
  /* height: 50px;
  border: 0px; */
  border-radius: 0.438rem;
  /* border-radius: 7px; */
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(158, 57, 138, 1) 0%,
      rgba(255, 0, 33, 1) 100%);
  width: 7rem;
  margin-left: -8rem;
  /* margin-top: 10px; */
  cursor: pointer;
}

.main-title {
  background: -webkit-linear-gradient(#a03989, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 6rem;
  font-size: 2.188rem;
  /* font-size: 35px; */
  position: fixed;
}

.card-menu {
  background-color: #222222;
  border-radius: 1.25rem;
  /* border-radius: 20px; */

  padding: 0.938rem;
  /* padding: 15px; */

  padding-left: 1.25rem;
  font-size: 2.5px;
  /* padding-left: 20px;
  font-size: 40px; */

  margin-top: 0.625rem;
  /* margin-top: 10px; */
  text-align: center;
  list-style-type: none;
  margin: 6.25rem;
  /* margin: 100px; */
}

/* .price {
  text-align: unset !important;
  font-size: 20px;
  padding: 10px;
  color: gray;
  padding-left: 20px;
} */

h6 {
  text-align: unset !important;
  font-size: 1.25rem;
  padding: 0.625rem;
  /* font-size: 20px;
  padding: 10px; */
  color: gray;
  padding-left: 1.25rem;
  /* padding-left: 20px; */
}

.add-button {
  font-size: 1.875rem;
  /* font-size: 30px; */
  cursor: pointer;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-right: 0.625rem;
  /* margin-right: 10px; */
}

i {
  color: white;
}

hr {
  color: gray;
  width: 30.5%;
  margin-left: 1.063rem;
  /* margin-left: 17px; */
}

.vl {
  border-left: 0.125rem solid gray;
  /* border-left: 2px solid gray; */
  margin-left: 26.9rem;
  height: 20rem;
  width: 0%;
}

.food-card {
  display: flex;
  height: 15rem;
  padding-top: -11rem;
  width: fit-content;
  /* border-left: 2px solid gray; */
}

.price {
  font-size: 1.063rem;
  margin-left: .0625rem;
  margin-top: -1.25rem;
  /* font-size: 17px;
  margin-left: 10px;
  margin-top: -20px; */
}

.info {
  text-align: left;
  margin-left: 1.25rem;
  /* margin-left: 20px; */

  max-width: 27rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* .add-btn {
  position: absolute;
  right: 550px;
  margin-top: 20px;
  width: 100px;
  cursor: pointer;
} */
.card-info {
  display: flex;
  margin-left: 1.875rem;
  /* margin-left: 30px; */
}

.card-diversion {
  margin: 1.2rem;
  width: 150%;
  margin-top: 2rem;
}

.card-1 {
  height: 6.25rem;
  /* height: 100px; */
  width: 20rem;
}

.home-btn {
  background-color: #161616;
  height: 2.813rem;
  /* height: 45px; */
  border: 0.063rem solid;
  border-radius: 0.625rem;
  /* border: 1px solid;
  border-radius: 10px; */
  width: 9rem;
  margin-right: 1.25rem;
  /* margin-right: 20px; */
  transition: 0s background-color;
  cursor: pointer;
}

.categories {
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin-left: 5rem;
  position: fixed;
}

.home-btn:hover {
  color: black;
  background-color: white;
  transition: 1s;
}

.category {
  text-decoration: none;
  margin-top: 1.25rem;
  /* margin-top: 20px; */
  margin-left: 3rem;
  text-align: center;
  padding: 0.313rem;
  border-radius: 0.625rem;
  /* padding: 5px;
  border-radius: 10px; */

  background-color: #222222;
  padding-top: 0.625rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0rem 3.125rem 6.25rem -1.25rem,
    rgba(0, 0, 0, 0.3) 0rem 1.875rem 3.75rem -1.875rem,
    rgba(10, 37, 64, 0.35) 0rem -0.125rem 0.375rem 0rem inset;
  /* padding-top: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
  cursor: pointer;
}

.food-cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 10rem;
}

.food_list {
  background: url("../../public/Untitled-final.jpg") !important;
  height: fit-content;
}

.food-card-list {
  overflow-y: visible;
  padding-left: 25rem;
}

.food-title {
  letter-spacing: 0.125rem;
  /* letter-spacing: 2px; */
  width: fit-content;
}

.all-bout-food {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Cart-link {
  border: none;
  background-color: #161616;
  /* margin-right: 50px !important; */
  margin-right: 3.125rem !important;
}

.Cart-link .MuiSvgIcon-root {
  display: none;
}

.header {
  position: fixed;
}

.quantity-input {
  display: flex;
  border-radius: 6.25rem;
  /* border-radius: 100px; */
}

.btn {
  outline: none;
  width: fit-content;
  /* width: 2.5rem; */
  border-radius: 0.125rem;
  /* width: 40px;
  border-radius: 2px; */
  border: none;
}

.add {
  display: flex;
  flex-direction: column;
}

.card-btns {
  display: flex;
  height: max-content;
}

::-webkit-scrollbar {
  width: 0.5rem;
  /* width: 8px; */
}

::-webkit-scrollbar-thumb {
  /* background: linear-gradient(transparent, #30ff00);  */
  background: #0072b1;
  border-radius: 0.375rem;
  /* border-radius: 6px; */
}

/* ::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #0072b1);
  background: grey
}   */

/* input[type="text"] {
  margin-right: 50px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 50px;
  width: 250px;
}

input[type="text"]:focus {
  border: 1px solid #0072b1;
} */

.food-menu .nav input {
  margin-right: 3.125rem;
  /* margin-right: 50px; */
  outline: none;
  border-radius: 3.125rem;
  /* border-radius: 50px; */
  width: 15.625rem;
  height: 2.813rem;
  /* width: 250px; */
}

.food-menu .nav input:focus {
  border: 0.063rem solid #0072b1;
  /* border: 1px solid #0072b1; */
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 18.125rem !important;
  margin-top: 6.25rem; */
}


.loader1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.25rem;
  /* width: 100px; */
  margin-left: 15rem !important;
  margin-top: 5rem !important;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* .loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: 15px !important;
} */

.loading .MuiSvgIcon-root {
  animation: spin 1s linear infinite;
  height: 2.5rem;
  width: 2.5rem;
  /* height: 40px;
  width: 40px; */
  color: #0072b1 !important;
}

/* @media only screen and (max-width: 500px) {

  .home-btn {
    display: none;

  }

  h3 {
    margin-left: 20px;
  }

  main-cart {
    display: none;
  }

  .food-cards {
    width: fit-content;

  }

  .categories {
    margin-left: -5rem;
  }

  .Cart-link {
    margin-right: 3rem;
  }

  .food-card-list {
    margin-left: -10rem;
    display: flex;
    flex-direction: column;

  }

  .add-btn {
    margin-right: -45px; */
/* margin-top: -3px; */
/* height: 50px !important;

  }

  .all-bout-food {
    width: 100%;
    display: flex;
    flex-direction: column;

  }

  .categories {
    display: flex;
    flex-direction: row;
    width: fit-content;
  }
} */

@media screen and (max-width: 768px) {
  .home-btn {
    display: none;
  }

  .nav {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    font-size: medium;
    flex-direction: row;
    flex-wrap: unset !important;
  }

  .nav input {
    width: 50%;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    border-radius: 0.625rem;
    border: none;
    padding: 0.625rem;
    font-size: 1.25rem;

  }

  .main-title {
    text-align: center !important;
    /* align-items: center; */
    width: 70%;
  }

  .food-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10rem;
  }

  .food-card-list {
    padding-left: 0rem !important;
    margin-top: 7rem !important;
  }



  .categories {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    width: 100%;
    align-items: center;
    padding-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .card-diversion {
    width: 180%;
  }

  .category {
    width: 7.4375rem !important;
  }

  .main_card {
    padding: 0rem;
    margin-top: 5rem !important;
  }

  /* .food-card {
    padding: 0 !important;
    margin-top: 3rem !important;
  } */

  .card-info {
    margin-top: 0rem !important;
  }

  .quantity {
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .quantity .quantity-input {
    margin-right: 4.5rem;
    height: 3.2rem !important;
  }

  .quantity .add-btn {
    margin-top: 0rem !important;
    height: 3.125rem;
  }

  .food-card .card-info .card-1 .food-title {
    margin-left: 1.2rem !important;
  }

  .Cart-link .MuiSvgIcon-root {
    display: flex;
  }
}