.food-menu {
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  height: 6.5rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #161616;
  width: 100%;
  z-index: 1;
}

.add-btn {
  height: 45px;
  border: 0px;
  border-radius: 7px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(158, 57, 138, 1) 0%,
    rgba(255, 0, 33, 1) 100%
  );
  width: 7rem;
  margin-left: -8rem;
  margin-top: 10px;
  cursor: pointer;
}

.main-title {
  background: -webkit-linear-gradient(#a03989, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 6rem;
  font-size: 35px;
  position: fixed;
}
.card-menu {
  background-color: #222222;
  border-radius: 20px;

  padding: 15px;

  padding-left: 20px;
  font-size: 40px;

  margin-top: 10px;
  text-align: center;
  list-style-type: none;
  margin: 100px;
}
.price {
  font-size: 20px;
  padding: 10px;
  color: gray;
  padding-left: 20px;
}
.add-button {
  font-size: 30px;
  cursor: pointer;
}
.cards {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}
i {
  color: white;
}
hr {
  color: gray;
  width: 30.5%;
  margin-left: 17px;
}
.vl {
  border-left: 2px solid gray;
  margin-left: 26.9rem;
  height: 20rem;
  width: 0%;
}
.food-card {
  display: flex;
  height: 15rem;
  padding-top: -11rem;
  width: fit-content;
  /* border-left: 2px solid gray; */
}

.food-card:hover {
}

.price {
  font-size: 17px;
  margin-left: 10px;
  margin-top: -20px;
}
.info {
  text-align: left;
  margin-left: 20px;

  max-width: 27rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* .add-btn {
  position: absolute;
  right: 550px;
  margin-top: 20px;
  width: 100px;
  cursor: pointer;
} */
.card-info {
  display: flex;
  margin-left: 30px;
}
.card-diversion {
  margin: 1.2rem;
  width: 150%;
  margin-top: 2rem;
}
.card-1 {
  height: 100px;
  width: 20rem;
}
.home-btn {
  background-color: #161616;
  height: 45px;
  border: 1px solid;
  border-radius: 10px;
  width: 9rem;
  margin-right: 20px;
  transition: 0s background-color;
  cursor: pointer;
}
.categories {
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin-left: 5rem;
  position: fixed;
}
.home-btn:hover {
  color: black;
  background-color: white;
  transition: 1s;
}
.category {
  text-decoration: none;
  margin-top: 20px;
  margin-left: 3rem;
  text-align: center;
  padding: 5px;
  border-radius: 10px;

  background-color: #222222;
  padding-top: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    cursor: pointer;
}
.food-cards {
  display: flex;
  margin-top: 10rem;
}
.food-card-list {
  overflow-y: visible;
  padding-left: 25rem;
}
.food-title {
  letter-spacing: 2px;
  width: fit-content;
}
.Cart-link {
  border: none;
  background-color: #161616;
  margin-right: 50px !important;
}
.header {
  position: fixed;
}

.quantity-input{
  display: flex;
  border-radius: 100px;
}

.btn {
  outline: none;
  width: 40px;
  border-radius: 2px;
  border: none;
}

.add {
  display: flex;
  flex-direction: column;
}

.card-btns {
  display: flex;
  height: fit-content;
}

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-thumb{
  /* background: linear-gradient(transparent, #30ff00);  */
  background: #0072b1;
  border-radius: 6px;
}

/* ::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #0072b1);
  background: grey
}   */
