.main {
  margin: 0;
  padding: 0;
  backdrop-filter: blur(3rem);
  width: 100vw !important;
}

.main hr {
  color: gray !important;
}

footer .main .footer-bottom p{
  color: gray;
}

footer {
  position: fixed;
  bottom: 0 !important;
  height: auto;
  /* width: 89vw; */
  width: 100vw;
  /* padding-top: 40px; */
  color: #fff !important;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  overflow-x: hidden;
  z-index: -1;
}

/* .footer-content h3 {
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  min-width: 500px;
   margin: 10px auto;
   line-height: 28px; 
  font-size: 14px;
} */
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  /* margin: 1rem 0 3rem 0; */
}

.socials li {
  margin: 0 0.625rem;
  /* margin: 0 10px; */
}

.socials i {
  font-size: 1.1rem;
  cursor: pointer;
}

.footer-bottom {
  /* width: 89vw; */
  padding: 0.313rem 0;
  /* padding: 2px 0; */
  text-align: center;
}

.footer-bottom p {
  font-size: 0.875rem;
  word-spacing: 0.313rem;
  /* font-size: 14px;
  word-spacing: 2px; */
  text-transform: capitalize;
}

.footer-bottom span {
  text-transform: uppercase;
  color: #4c8fbd !important;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  footer {
    width: 80vw;
    /* height: inherit; */
    margin-top: 0.5rem !important;
    /* position: fixed !important;  */
    bottom: 0 !important; 
  }
}